<% provide(:title, 'Home') %>
    <h1>Sample App</h1>
    <p>
      This is the home page for my
      <a href="http://github.com/Kenzysc">Kenzysc github page</a>
      where you can check my apps.
    </p>
  
